node {size: 20px; fill-color: #00FF00; text-alignment: above; text-style: bold; }
node.rootinset {size: 20px; fill-color: #900C3F;}
node.root {size: 20px; fill-color: #FFA592;}
node.memberinset {size: 20px; fill-color: #555555;}
node.member {size: 20px; fill-color: #5D67FF;}
node.maximaldegree {size: 20px; fill-color: #FFA592;}
